{% extends "base.html" %}

{% block content %}
{% call components.glass_container() %}
    <div class="content">
        {% if content_type == "image" %}
            {% call components.glass_panel() %}
                <img src="{{ note.content }}" alt="Attached image">
            {% endcall %}
        {% else %}
            {% call components.glass_card() %}
                <div class="text-content">
                    {{ note.content }}
                </div>
            {% endcall %}
        {% endif %}
    </div>
{% endcall %}
{% endblock %}